body {
    background-color: #040F0F;
}
h1 {
    color:white;
}
#frame_select {
    /*display: inline-block;*/
    margin-top: 20px;
    text-align: center;
}
#frame_select button {
    text-decoration: none;
    color: white;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;

    margin-left: 12px;
    margin-right: 12px;
    font-size: 24px;
    background-color: #248232;
    border-radius: 10px;
}
#frame_select button:hover {
    background-color: #2BA84A;
}


#frame {
    display: block;
    width: 60%;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    border: 8px solid #2D3A3A;
    border-radius: 10px;
}
p {
    width: 12%;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:white;
}
h3 {
    text-align: center;
}
