@font-face {
  font-family: BabasNeue;
  src: url(fonts/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: PtSansNarrow;
  src: url(fonts/PTSansNarrow-Regular.ttf);
}

body {
    background-color: #040F0F;
    overflow: hidden;
    font-family: PtSansNarrow;
}
.nav {
}
.nav h1 {
    color:white;
    margin-left: 30%;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: BabasNeue;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 1px;
    cursor: default;
}
#chainicon {
  font-size: 18px;
  float: right;
  margin-right: 30%;
  margin-top: 40px;
  margin-bottom: 20px;
  color:white;
}
#chainicon:hover {
  color: lightgray;
}
#frame_select {
    /*display: inline-block;*/
    margin-top: 20px;
    text-align: center;
}
#frame_select button {
    text-decoration: none;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;

    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 0px;
    font-size: 18px;
    background-color: #2D3A3A;
    border-radius: 4px;
    border: none;
}
#frame_select button:hover {
    background-color: darkslategray;
    cursor: pointer;
}


#frame {
    display: block;
    width: 40%;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    border: 8px solid #2D3A3A;
    border-radius: 10px;
}
p {
    width: 12%;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:white;
}

.container {
    margin: auto;
    width: 250px;
}

.wrapper{
    max-width: 400px;
    margin: 0px auto;
    margin-bottom: 80px;
  }
  .wrapper .search-input{
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    margin-right: 0px;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
    font-size: 0px;
  }
  .search-input input{
    height: 55px;
    width: 60%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    margin: 0px;
    display: inline-block;
  }
  .search-input .submit{
    display: inline-block;
    width: 20%;
    height: 55px;
    background-color: #248232;
    padding-top: 2px;
    padding-bottom: 4px;
    margin: 0px;
    font-size: 24px;
    text-align: center;
    line-height: 55px;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }
  .search-input .submit a {
    text-decoration: none;
    color: white;
  }
  .search-input .submit:hover{
    background-color: #2BA84A;
    cursor: pointer;
  }

  .search-input.active input{
    border-radius: 5px 5px 0 0;
  }
  .search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
    overflow: hidden;
    width: 94%;
    font-size: 18px;
  }
  .search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
  }
  #guess-count {
    font-size: 20px;
    cursor: default;
  }
  .autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
  }
  .search-input.active .autocom-box li{
    display: block;
  }
  .autocom-box li:hover{
    background: #efefef;
  }

  #endgame-m {
    margin-bottom: 10px;
    font-size: 20px;
    cursor: normal;
  }
  .compbox {
    width: 30%;
    margin: auto;
    text-align: center;
  }
  .gb {
    display: inline-block;
    padding: 10px;
    background-color: #2D3A3A;
    border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
  }
  #red {
    background-color: rgb(221, 47, 47);
  }
  #green {
    background-color: rgb(69, 155, 69);
  }
  .play-again {
    margin: auto;
    padding: 5px;
    background-color: #248232;
    color:white;
    width: 8%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  .play-again:hover{
    background-color: #2BA84A;
  }
  .save {
    width: 10%;
    text-align: center;
    margin:auto;
  }
  .save a {
    color: gray;
    text-decoration: underline;
    cursor: pointer;
  }